*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
}

input,
select{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: blue;
    color: white;
    border-radius: 5px;
    flex:1;
    transition:0.3s;
    cursor:pointer;
}

.sumar{
    background:#28a745;
    color:white;
}

.sumar:hover{
    background:#218838;
}

.restar{
    background:#dc3545;
    color:white;
}

.restar:hover{
    background:#c82333;
}

.container{
    background:white;
    padding:20px;
    border-radius:8px;
}

